@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #FFFFFF;
  --surface: #F9FAFB;
  --border: #E5E7EB;
  --text: #111827;
  --muted: #44464e;

  --primary: #3B82F6;
  --secondary: #8B5CF6;
  --success: #10B981;
  --warning: #F59E0B;
}

.dark {
  --bg: #0A0A0A;
  --surface: #1A1A1A;
  --border: #2A2A2A;
  --text: #E8E8E8;
  --muted: #9498a0;

  --primary: #3B82F6;
  --secondary: #8B5CF6;
  --success: #10B981;
  --warning: #F59E0B;
}